<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>destinationController</key>
				<string>SCRedeemCodeViewController</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>title</key>
				<string>Use Redeem Code</string>
				<key>icon</key>
				<string>RedeemCode</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>Notification</string>
				<key>destinationController</key>
				<string>SCSettingsTableViewController</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>title</key>
				<string>Push Notification</string>
				<key>icon</key>
				<string>MorePush</string>
			</dict>
			<dict>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>Settings_group1_01</string>
				<key>title</key>
				<string>Shake</string>
				<key>icon</key>
				<string>more_homeshake</string>
			</dict>
			<dict>
				<key>switchKey</key>
				<string>Settings_group1_02</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>Sound Style</string>
				<key>icon</key>
				<string>sound_Effect</string>
			</dict>
			<dict>
				<key>switchKey</key>
				<string>Settings_group1_03</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>Assistant</string>
				<key>icon</key>
				<string>More_LotteryRecommend</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>functionName</key>
				<string>checkUpdateStatus</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>icon</key>
				<string>MoreUpdate</string>
				<key>title</key>
				<string>Update</string>
			</dict>
			<dict>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>icon</key>
				<string>MoreShare</string>
				<key>title</key>
				<string>Share</string>
			</dict>
			<dict>
				<key>destinationController</key>
				<string>SCRecommandCollectionViewController</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>icon</key>
				<string>MoreNetease</string>
				<key>title</key>
				<string>Recommandation</string>
			</dict>
			<dict>
				<key>destinationController</key>
				<string>SCAboutTableViewController</string>
				<key>plistName</key>
				<string>About</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryContent</key>
				<string>arrow_right</string>
				<key>icon</key>
				<string>MoreAbout</string>
				<key>title</key>
				<string>About</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
